{
  "CN": "{{csr_CN}}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "L": "Boulder",
      "O": "{{csr_O}}",
      "OU": "Kubernetes The Hard Way",
      "ST": "Colorado"
    }
  ]
}
