{
  "CN": "system:node:{{inventory_hostname_short}}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "L": "Boulder",
      "O": "system:nodes",
      "OU": "Kubernetes The Hard Way",
      "ST": "Colorado"
    }
  ]
}
